
*,
        *::after,
        *:before{
            
            box-sizing: border-box;
            
        }
       
        
        
        #form-user{
            margin: 2rem;
            width: 800px;
        }
        .form-box{
            padding: 1rem;
            clear: both;
            width: 100%;
            position: relative;
        }
        .form-box label{
            font-size: 1rem;
            float: left;
            width: 200px;
            margin-right: 20px;
        }
        .form-box input{
            font-size: 1rem;
            width: 300px;
            padding: 0.25rem 0.5rem;
        }
        .form-box select{
            font-size: 1rem;
            width: 300px;
            padding: 0.25rem 1rem;
        }
        .form-box option{
            font-size: 1rem;
            width: 300px;
            padding: 0.25rem 1rem;
        }
        .form-box input[type="checkbox"]{
            font-size: 1rem;
            float: left;
        }
        .form-box button{
            font-size: 1rem;
            border: none;
            padding: 0.25rem 2rem;
            margin-right: 1rem;
            color: white;
            background-color: cornflowerblue;
            cursor: pointer;
        }
        
        .error::after{
            background-color: hsl(10, 60%, 50%);
            color: papayawhip;
            font-size: 1rem;
            line-height: 1.8;
            width: 350px;
            
            position:relative;
            right: 0;
            content: attr(data-errormsg);
        }
        .input-group.date label{
            font-size: 1rem;
            float: left;
            width: 200px;
            margin-right: 20px;
            padding-left: 30px;
        }